{
  "log": {
    "_recordingName": "post__api_v1_jobs_createtask___should_create_a_grok_imagine_image_to_video_task",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "77180073c4f374d634030d3a88982b23",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-video\",\"input\":{\"image_urls\":[\"https://file.aiquickdraw.com/custom-page/akr/section-images/1762247692373tw5di116.png\"],\"prompt\":\"A gentle breeze makes the leaves sway softly. Camera slowly zooms out.\",\"mode\":\"normal\",\"duration\":\"6\",\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6a993b58bef319db1bed3b95b1aafcfb\",\"recordId\":\"6a993b58bef319db1bed3b95b1aafcfb\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 399,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
