{
  "log": {
    "_recordingName": "get__api_v1_user_credits___should_retrieve_account_credits",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b6770612f11066e6f214a8641a111501",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 43,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":5069.84}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 359,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
