{
  "log": {
    "_recordingName": "post__api_v1_jobs_createtask___should_create_a_kling_3_0_video_task",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5c42f5e36bee05bef484077f81364869",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling-3.0/video\",\"input\":{\"prompt\":\"A futuristic cityscape at sunset with flying cars\",\"sound\":false,\"duration\":\"5\",\"aspect_ratio\":\"16:9\",\"mode\":\"std\",\"multi_shots\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0332495acd474d69c21690265845552c\",\"recordId\":\"0332495acd474d69c21690265845552c\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
