{
  "log": {
    "_recordingName": "should_create_an_image_to_video_task_successfully",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "77180073c4f374d634030d3a88982b23",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-video\",\"input\":{\"image_urls\":[\"https://file.aiquickdraw.com/custom-page/akr/section-images/1762247692373tw5di116.png\"],\"prompt\":\"A gentle breeze makes the leaves sway softly. Camera slowly zooms out.\",\"mode\":\"normal\",\"duration\":\"6\",\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"b388cf7e7ec8dd51ee9b34646c9523c9\",\"recordId\":\"b388cf7e7ec8dd51ee9b34646c9523c9\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 502,
      },
      {
        "_id": "2f371e752da6e3754cc2f11fd81cf48f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "b388cf7e7ec8dd51ee9b34646c9523c9"
            }
          ],
          "url": "https://api.kie.ai/market/common/get-task-detail?taskId=b388cf7e7ec8dd51ee9b34646c9523c9"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 133,
            "text": "{\"timestamp\":1771475051003,\"status\":404,\"error\":\"Not Found\",\"message\":\"No message available\",\"path\":\"/market/common/get-task-detail\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 496,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
