{
  "log": {
    "_recordingName": "get__api_v1_jobs_recordinfo___should_query_task_status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f350c7b85df47e72d0bd423b9becc019",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A beautiful sunset over mountains\",\"aspect_ratio\":\"16:9\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ef4e21178dd01cf6d87da3cfd0dbf6fe\",\"recordId\":\"ef4e21178dd01cf6d87da3cfd0dbf6fe\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      },
      {
        "_id": "4efcc47892ff6f5637cab26d8057d79c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer 09f8377af41bb707bcc126393c695ac2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ef4e21178dd01cf6d87da3cfd0dbf6fe"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ef4e21178dd01cf6d87da3cfd0dbf6fe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 406,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ef4e21178dd01cf6d87da3cfd0dbf6fe\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A beautiful sunset over mountains\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1771477197453}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 354,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
